.hero {
  color: $lightBlack;

  .top--night & {
    color: $white;
  }

  .container {
    position: relative;
  }

  &__decor {
    position: absolute;
    top: -8.5rem;
    left: -8rem;
    width: 67.2rem;

    @media (max-width: $tablet) {
      width: 43.2rem;
      left: -2rem;
    }

    @media (max-width: $mobile) {
      top: -3.5rem;
      left: -6.2rem;
      width: 32.3rem;

      .night & {
        left: -4.3rem;
        width: 32.2rem;
        top: -5.7rem;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    padding: 9rem 0 8.1rem;

    @media (max-width: $tablet) {
      justify-content: flex-start;
      align-items: flex-end;
      padding: 20rem 0 4rem;
    }

    @media (max-width: $mobile) {
      padding: 22rem 0 4rem;

    }
  }

  &__info {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__right {
    width: 56.9rem;

    @media (max-width: $tablet) {
      width: 41.9rem;
      margin-left: 30rem;
    }

    @media (max-width: $mobile) {
      width: auto;
      margin-left: 7.2rem;
    }
  }

  &__title {
    width: 100%;
    margin: 0 0 9.7rem;

    @media (max-width: $tablet) {
      margin: 0 0 4rem;
    }

    @media (max-width: $mobile) {
      margin: 0 0 3.5rem;
      max-width: 35rem;
    }
  }

  &__bullits {
    display: flex;
    align-items: flex-start;
    font-size: 4rem;
    line-height: 1;
    font-family: $mossport;
    text-transform: uppercase;
    gap: 4.1rem;
    margin: 0 0 5.2rem;

    @media (max-width: $tablet) {
      flex-direction: column-reverse;
      gap: 2rem;
    }

    @media (max-width: $mobile) {
      gap: 2.2rem;
      font-size: 2.4rem;
      margin: 0 0 3.5rem 10.8rem;
      flex-direction: column;
    }
  }

  &__bullit {
    display: flex;
    align-items: flex-start;
    gap: 2.3rem;


    @media (max-width: $mobile) {
      gap: 0.8rem;

      img {
        width: 2.5rem;
      }
    }


  }

  &__chip-link {
    display: inline-flex;
    background-color: $red;
    color: $white;
    padding: 0.7rem 3.2rem;
    font-family: $mossport;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2rem;
    text-decoration: none;
    border-radius: 30px;
    height: 3.8rem;
    transition: all 0.2s ease-in;
    border: 2px solid $red;

    &:hover {
      background-color: $white;
      color: $red
    }

    @media (max-width: $tablet) {
      font-size: 2.4rem;
      height: 3rem;
      padding: 0.5rem 2rem;

      &:hover {
        background-color: $red;
        color: $white;
      }

    }
  }



}
