.title {
  font-family: $mossport;
  font-weight: 700;
  font-size: 13.9rem;
  line-height: 13.9rem;
  color: $red;
  text-transform: uppercase;
  margin: 0 0 6rem;

  &--white {
    color: $white;
  }

  @media (max-width: $tablet) {
    font-size: 3.5rem;
    line-height: 1;
  }
}
