.top {
  position: relative;
  overflow: hidden;

  &--night {
    background-color: $purple;
  }

  &__section {
    position: relative;
    z-index: 2;
  }

  &__switcher {
    padding: 2.1rem 0 2rem;
    background-color: $purple;



    .top--night & {
      background-color: $white;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: $tablet) {
      justify-content: flex-end;
      padding-right: 8rem;
    }

    }

  }

}
